/* default.html  */

body {
    margin: 60px auto;
    width: 70%;
    background: #161415;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
nav ul, footer ul {
     font-family:'Helvetica', 'Arial', 'Sans-Serif'; 
    padding: 0px;
    list-style: none;
    font-weight: bold;
    }

nav a {
    color: #fff;
    text-decoration: none;
}


nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav {
    border-bottom: 1px solid #838C95;
}

footer {
    border-top: 1px solid #838C95;
    font-size: .8em;
}

/* general styling */

 a { 
     text-decoration: none; 
     color: #838C95; 
 } 

a:hover {
    text-decoration: underline;
}

.cont{
    text-align: center;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

h1 {
    font: 78px/1.1em 'Open Sans', sans-serif;
    letter-spacing: -1px;
    margin: 0 auto 12px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

p {
    line-height: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* blog styling */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}











