<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/projects">Projects</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:j.waudby2@ncl.ac.uk">j.waudby2@ncl.ac.uk</a></li>
	        		<li><a href="https://github.com/jackwaudby">github.com/jackwaudby</a></li>
                    <li><a href="https://twitter.com/waudberry_7">twitter.com/waudberry_7</a></li>
				</ul>
			</footer>
		</body>
	</html>
